<html xmlns:th="http://www.thymeleaf.org">
	

<body>
	<p> Lūdzu ievadi jaunu produktu!</p>

	<form action="#"  th:action="@{/product/crud/create}" th:object="${product}" method="post" >
		<table>
			<tr>
				<td>Ieraksti produkta nosaukumu:</td>
				<td> <input type="text"  th:field="*{title}"   /> </td>
				<td th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></td>
			</tr>
			
			<tr>
				<td>Ieraksti produkta aprakstu:</td>
				<td> <input  type="text" th:field="*{description}"  />    </td>
				<td th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></td>
			</tr>
			
			<tr>
				<td>Ieraksti produkta cenu:</td>
				<td> <input  type="text" th:field="*{price}"  />    </td>
				<td th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></td>
			</tr>
			
			<tr>
				<td>Ieraksti produkta daudzumu:</td>
				<td> <input  type="text" th:field="*{quantity}"  />    </td>
				<td th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></td>
			</tr>

			<tr>
				
				<td> <button type="submit"> Saglabāt </button>     </td>
				
			</tr>
			
		</table>
		
		
		
	</form>
</body>

</html>